.todo-item {
  display: flex;
  gap: 12px;
  height: 54px;
  align-items: center;
  border-radius: 5px;
  padding: 8px 12px;
  justify-content: space-between;
  background-color: #003566;
  box-shadow: inset 0px 0px 8px 1px #003566;

  .check {
    display: flex;
    gap: 24px;
    user-select: none;
    align-items: center;
    text-transform: capitalize;
    flex: 1 0;

    .inputBox {
      caret-color: #ffaa00;
      border-color: #ffaa00;
      outline: none;
      border: none;
      height: 24px;
      width: 24px;
      border-radius: 4px;

      &:checked {
        caret-color: #f34b4b;
        color: #f34b4b;
      }
    }
  }

  .strike {
    text-decoration: line-through;
    font-weight: 500;
    color: #a19877;
  }

  .bold {
    font-weight: 700;
    color: #ffc600;
  }

  button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;

    &:hover {
      svg {
        fill: #f3cf4f;
      }
    }

    &:active {
      transform: scale(0.8);

      svg {
        fill: #f34b4b;
      }
    }
  }

  .notify {
    color: #f34b4b;
    animation: shake 300ms;
  }

  @keyframes shake{
    0%{
      transform: translateX(0)
    }
    10%{
      transform: translateX(25px);
    }
    20%{
      transform: translateX(0)
    }
    30%{
      transform: translateX(-25px);
    }
    40%{
      transform: translateX(0)
    }
    50%{
      transform: translateX(25px);
    }
      
    60%{
      transform: translateX(0px);
    }
    70%{
      transform: translateX(-25px);
    }
    80%{
      transform: translateX(0px);
    }
    90%{
      transform: translateX(-25px);
    }
    100%{
      transform: translateX(0px);
    }
  }
}
