.App {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  margin-block-start: 2rem;

  h1 {
    width: 100%;
    text-align: center;
    position: fixed;
    padding: 12px 0;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1;
    color: #ffc300;
    background-color: #001d3d;
    box-shadow: 0 1px 6px 1px #d3c578;
  }

  .app_container {
    width: 70%;
    margin: 0 auto;
    padding: 16px;
    border-radius: 8px;
    background-color: #000814;

    .app_todoContainer {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    .notodos {
      text-align: center;
      font-weight: 700;
      color: #ffc300;
    }
  }
}
